body {
  background-image: url("assets/paper.png");
  background-size: cover;
  height: 100vh;
}

img {
  height: 180px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;

  /*      border: 3px solid blue; */
}

img:hover {
  height: 400px;
}

p:hover {
  /*   transform: rotate(5deg); */
  letter-spacing: 1em;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  position: absolute;
  left: 25px;
  top: 20px;
  margin: 0;
}

#question {
  position: absolute;
  left: 25px;
  top: 130px;
  margin: 0;
}

#click {
  position: absolute;
  left: 25px;
  top: 210px;
}
